<header class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <form>
          <div class='form-group'>
            <label for='originalURL'>URL</label>
            <input type='text' class='form-control' id='originalURL' placeholder='http://www.example.com' />
          </div>
          <button type='submit' class='btn btn-primary'>Shorten</button>
        </form>
      </div>
    </div>
  </div>
</header>
