message
{{message}}

<hr>

<form class="" action="/" method="post">
  <p>URL to shorten:</p>
  <input type="text" name="" value="" placeholder="URL">
  <input type="submit" name="" value="Shorten URL">
</form>
