<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class='container'>
  {{{body}}}
</div>


<script>
  var socket = io.connect("http://localhost:3000");



  $(".urlLink").click(function(e) {
    var longURL = $(e.target).parent().parent().attr("id");
    console.log(longURL);
    socket.emit("linkClicked", longURL);
  })

  socket.on("newCount", function(clickInfo) {
    let id = clickInfo.id.replace(/\./g, '\\.');
    id = id.replace(/\:/g, '\\:');
    id = id.replace(/\//g, '\\/');
    id = id.replace(/\_/g, '\\_');
    let clicks = clickInfo.clicks;
    let str = "#"+id+"clicks";
    console.log($(str))
      console.log($(str)[0])
    console.log(str)
    console.log(clicks)
    $(str).html(clicks);
  });

</script>
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
