<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  {{{body}}}
</body>

<script>
  var socket = io.connect("http://localhost:3000");



  $(".urlLink").click(function(e) {
    e.preventDefault();
    var longURL = $(e.target).parent().parent().attr("id");
    console.log(longURL);
    socket.emit("linkClicked", longURL);
  })

  socket.on("newCount", function(clickInfo) {
    let id = clickInfo.id;
    let clicks = clickInfo.clicks;
    let str = "#"+id+"clicks";
    $(str).html(clicks);
  });

</script>

</html>
