
<div>
  <form class="form-inline" method="post" action="/postinputurl">
    <div class="form-group">
    <label for="inputurl">URL: </label>
    <input name="inputurl" type="text" class="form-control" id="inputurl">
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
    <div id="shortenedurl"><a href="http://localhost:3000/{{res}}">http://localhost:3000/{{res}}</a></div>
<div>
