<section id="head-form" class="clearfix">
  <h1>URL Shortener</h1>
  <div class="col-sm-12" id="form-container">
    <form>
      <div class="form-group col-sm-6">
        <input type="text" name="url" class="form-control" id="url-input" placeholder="You original URL here">
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-default pull-left">Shorten URL</button>
      </div>
    </form>
  </div>
</section>
<section id="url-table" class="col-sm-10 col-sm-offset-1">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>All Clicks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="github.com">github.com</a>
        </td>
        <td>
          <a href="/rAc8Q5C9">/rAc8Q5C9</a>
        </td>
        <td>75</td>
      </tr>
      <tr>
        <td>
          <a href="myclickshift.com/login">myclickshift.com/login</a>
        </td>
        <td>
          <a href="/XfSJouU2">/XfSJouU2</a>
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>
          <a href="github.com/asaloff/assignment_dynamic_url_shortener">github.com/asaloff/assignment_dynamic_url_shortener</a>
        </td>
        <td>
        <a href="/LFfZZYje">
          /LFfZZYje
        </a>
      </td>
        <td>62</td>
      </tr>
    </tbody>
  </table>
</section>
