<form action="/update" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="short your link" name="url">
        </div>
          <button type="submit">Submit</button>
      </form>
<br>

<table class="table">
  <thead>
    <tr>
      <th>URL</th>
      <th>put this after localhost:4000/r/</th>

      <th>Number of Clicks</th>
    </tr>
  </thead>
  <tbody>
    {{#each urls}}
    <tr>
      <td>{{this}}</td>
      <td>{{@key}}</td>

      <td id={{@key}}>{{lookup ../counts @key}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
