<section class='form'>
  <h3>Simplifiy Your Links</h3>
  <form action='/create' method='post'>
    <input type='text' placeholder='Enter a full url to shorten' name='fullURL' />
    <input type='submit' value='Shorten URL' />
  </form>
</section>
