<form>
  <div class="form-group">
    <label for="url-shortener">URL Shortener</label>
    <input type="email" class="form-control" id="url-shortener" placeholder="Enter url">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>