<h1>Simplify your links</h1>

<form action="/" method="post">
  <input type="text" name="url" placeholder="Your original URL here" />
  <button type="submit">Shorten URL</button>
</form>

{{#each keys as |key| }}
<p>Key: {{key}}</p>
{{/each}}