<form action="/" method="post">
  <label>Input a URL</label><input type="text" name="url-input" >
  <input type="submit">
</form>

<table>
  <tr>
    <th>Original URL</th><th>Short URL</th><th>All Clicks</th>
  </tr>
  {{#each params as |param|}}
  <tr>
    <td>{{param.longUrl}}</td><td><a href="{{param.shortUrl}}">{{param.shortUrl}}</a></td><td>{{param.clicks}}</td>
  </tr>
  {{/each}}
</table>
