<form action="/" method="post">
  <label>Input a URL</label><input type="text" name="url-input" >
  <input type="submit">
</form>

{{#each params as |param|}}
<h1>  param.longUrl</h1>

{{/each}}

<table>
  <tr>
    <th>Original URL</th><th>Short URL</th><th>All Clicks</th>
  </tr>
  <tr>
    <td></td><td></td><td></td>
  </tr>
</table>
