          <table class="table table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Original URL</th>
                <th scope="col">Created</th>
                <th scope="col">Short URL</th>
                <th scope="col">Click Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">www.google.com</th>
                <td>2017-11-01</td>
                <td>ab.cd/1gf</td>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">www.ddg.gg</th>
                <td>2017-11-01</td>
                <td>localhost:4000/asd876a</td>
                <td>27<td>
              </tr>
            </tbody>
          </table>