          <table class="table table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Original URL</th>
                <th scope="col">Short URL</th>
                <th scope="col">Click Count</th>
              </tr>
            </thead>
            <tbody>

            {{#each myCounts}}
              {{#each ../myUrls}}
                <tr>
                  <th scope="row">{{this}}</th>
                  <td>{{@key}}</td>
                  <td>{{../this}}</td>
                </tr>
              {{/each}}   
            {{/each}}   

            </tbody>
          </table>